PORT=8080
CLIENT_URL=http://localhost:8080/
FRONTEND_URL=http://localhost:8080

#JWT configuration
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

# SMTP configuration for nodemailer
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=

#PostgreSQL configuration
DATABASE_URL=
PGDATABASE=
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
